cmake-build-*/
cmake-clang-*/
cmake-gcc-*/
build/releases
build/venv
*.received.*
.idea
doc/html/
/doc/sphinx/pandoc-*.pkg
.vs/
/.vscode/
*.runsettings
CMakeLists.txt.user
*.bak
.DS_Store
[Oo]ut/build
*.swp
/CMakeSettings.json
__pycache__/
.mypy_cache/
*.sqlite3
/doc/_build/
venv
