# Adapted from various sources, including:
# - https://github.com/gabime/spdlog

sudo: required
language: cpp

# -------------------------------------------------------------------------
# Linux gcc
# -------------------------------------------------------------------------

.addons-gcc5: &gcc5
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-5

.addons-gcc6: &gcc6
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-6

.addons-gcc7: &gcc7
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-7

.addons-gcc8: &gcc8
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-8

.addons-gcc9: &gcc9
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-9

# -------------------------------------------------------------------------
# Linux clang
# -------------------------------------------------------------------------

.addons-clang5: &clang5
  compiler: clang
  apt:
    packages:
      - clang-5.0
      - libstdc++-8-dev
    sources:
      - ubuntu-toolchain-r-test
      - llvm-toolchain-trusty-5.0

.addons-clang6: &clang6
  compiler: clang
  apt:
    packages:
      - clang-6.0
      - libstdc++-8-dev
    sources:
      - ubuntu-toolchain-r-test
      - llvm-toolchain-trusty-6.0

.addons-clang7: &clang7
  compiler: clang
  apt:
    packages:
      - clang-7.0
      - libstdc++-8-dev
    sources:
      - ubuntu-toolchain-r-test
      - llvm-toolchain-trusty-7

.addons-clang8: &clang8
  compiler: clang
  apt:
    packages:
      - clang-8.0
      - libstdc++-8-dev
    sources:
      - ubuntu-toolchain-r-test
      - llvm-toolchain-trusty-8

matrix:
  include:
    
    # -------------------------------------------------------------------------
    # Linux gcc
    # -------------------------------------------------------------------------

#    - env: GCC_VERSION=5
#      os: linux
#      addons: *gcc5
#
#    - env: GCC_VERSION=6
#      os: linux
#      addons: *gcc6
#
#    - env: GCC_VERSION=7
#      os: linux
#      addons: *gcc7
#
#    - env: GCC_VERSION=8
#      os: linux
#      addons: *gcc8
#
#    - env: GCC_VERSION=9
#      os: linux
#      addons: *gcc9

    # -------------------------------------------------------------------------
    # Linux clang
    # -------------------------------------------------------------------------

#    - env: CLANG_VERSION=5.0
#      os: linux
#      dist: trusty
#      addons: *clang5
#
#    - env: CLANG_VERSION=6.0
#      os: linux
#      dist: trusty
#      addons: *clang6

    - env: CLANG_VERSION=7.0
      os: linux
      dist: trusty
      addons: *clang7

    - env: CLANG_VERSION=8.0
      os: linux
      dist: trusty
      addons: *clang8

    # -------------------------------------------------------------------------
    # Mac clang
    # -------------------------------------------------------------------------

#    - os: osx
#      osx_image: xcode8.3
#
#    - os: osx
#      osx_image: xcode9.4
#
#    - os: osx
#      osx_image: xcode10.2

before_script:
  - if [ -n "$GCC_VERSION" ]; then export CXX="g++-${GCC_VERSION}" CC="gcc-${GCC_VERSION}"; fi
  - if [ -n "$CLANG_VERSION" ]; then export CXX="clang++-${CLANG_VERSION}" CC="clang-${CLANG_VERSION}"; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then export CXX="clang++" CC="clang"; fi
  - which $CXX
  - which $CC
  - $CXX --version
  - cmake --version

script:
  - mkdir .build
  - cd .build
  - cmake ..
  - cmake --build .
  - ctest --verbose

notifications:
  email: true
