name: cygwin

on:
  push:
  pull_request:
  schedule:
    - cron: '16 0 * * 3,6'  # <https://crontab.guru/#16_0_*_*_3,6> - "At 00:16 on Wednesday and Saturday."

jobs:
  Cygwin:
    runs-on: windows-latest
#    if: false # Disable the build
    timeout-minutes: 42 # See https://github.com/approvals/ApprovalTests.cpp/issues/192

    defaults:
      run:
        shell: C:\cygwin\bin\bash.exe --noprofile --norc -o igncr -eo pipefail '{0}'

    steps:
      - uses: actions/checkout@v4

      - name: Set up Cygwin
        uses: cygwin/cygwin-install-action@v4
        with:
          packages: cmake libboost-devel libtool gcc gcc-g++ binutils make

      - name: Configure
        run: |
          mkdir -p cmake-build
          cd       cmake-build
          cmake --version
          cmake -G 'Unix Makefiles' .. -DCMAKE_BUILD_TYPE=Release -DAPPROVAL_TESTS_BUILD_DOCS=OFF -DCMAKE_VERBOSE_MAKEFILE:BOOL=ON

      - name: Build
        run: |
          cd cmake-build
          # Using make instead of cmake, because cmake --build stopped working in cygwin in 2023
          make --jobs=4 --keep-going

      - name: Test
        run: |
          cd cmake-build
          ctest --verbose --output-on-failure -C Release
