name: build

on:
  push:
    branches:
      - '*'
      - '!travis_ccache'
  pull_request:
    branches:
      - '*'
      - '!travis_ccache'

jobs:
  clang-format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - uses: DoozyX/clang-format-lint-action@v0.5
        with:
          source: '.'
          exclude: './third_party'
          clangFormatVersion: 9

  # Commented-out, as it keeps failing with http 429 error - too many requests
  # e.g. https://github.com/approvals/ApprovalTests.cpp/runs/541867195
  #  markdown-link-check:
  #    runs-on: ubuntu-latest
  #    steps:
  #      - uses: actions/checkout@master
  #      - uses: actions/setup-node@v1
  #        with:
  #          node-version: '12.x'
  #      - name: Install markdown-link-check
  #        run: npm i -g markdown-link-check
  #      - name: Run markdown-link-check on *.md files
  #        run: ./scripts/check_links.sh

  build:
    env:
      IN_TREE_BUILD_DIR: ${{ github.workspace }}/build_space
      OUT_OF_TREE_BUILD_DIR: ${{ github.workspace }}/../build_space
    strategy:
      fail-fast: false
      matrix:
        buildtype: [
          windows-latest,
          windows-latest (clangcl),
          windows-2016,
          ubuntu-latest,
          ubuntu-latest-ninja,
          macOS-latest,
          macOS-latest-unity,
          macOS-latest-ninja,
          macOS-latest-ninja-unity,
        ]
        include:
        - buildtype: windows-latest
          os: windows-latest
          generator: '"Visual Studio 16 2019"'
          in_source_build: true

        - buildtype: windows-latest (clangcl)
          os: windows-latest
          generator: '"Visual Studio 16 2019" -T "clangcl"'
          in_source_build: true

        - buildtype: windows-2016
          os: windows-2016
          generator: '"Visual Studio 15 2017"'
          in_source_build: true

        - buildtype: ubuntu-latest
          os: ubuntu-latest
          generator: '"Unix Makefiles"'
          in_source_build: true

        - buildtype: ubuntu-latest-ninja
          os: ubuntu-latest
          generator: '"Ninja"'
          in_source_build: false

        - buildtype:  macOS-latest
          os: macOS-latest
          generator: '"Unix Makefiles"'
          in_source_build: true

        - buildtype:  macOS-latest-unity
          os: macOS-latest
          generator: '"Unix Makefiles" -DCMAKE_UNITY_BUILD=yes -DCMAKE_UNITY_BUILD_BATCH_SIZE=50'
          in_source_build: true

        - buildtype:  macOS-latest-ninja
          os: macOS-latest
          generator: '"Ninja"'
          in_source_build: false

        - buildtype:  macOS-latest-ninja-unity
          os: macOS-latest
          generator: '"Ninja" -DCMAKE_UNITY_BUILD=yes -DCMAKE_UNITY_BUILD_BATCH_SIZE=50'
          in_source_build: true
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@master
    - uses: seanmiddleditch/gha-setup-ninja@v3
      if: contains(matrix.generator, 'Ninja')

    - name: set env for in-source build tree
      if: matrix.in_source_build == true
      run: |
        echo BUILD_DIR_PATH="${{ env.IN_TREE_BUILD_DIR }}" >> $GITHUB_ENV
    - name: set env out-of-source
      if: matrix.in_source_build == false
      run: |
        echo BUILD_DIR_PATH="${{ env.OUT_OF_TREE_BUILD_DIR }}" >> $GITHUB_ENV
    - name: check env
      run: |
        echo Build space 1: ${{ env.BUILD_DIR_PATH }}
        echo Build space 2: $BUILD_DIR_PATH
        echo Build space 3: %BUILD_DIR_PATH%


    - name: install boost for macOS
      if: matrix.os == 'macOS-latest'
      run: |
        brew install boost
    - name: install boost for linux
      if: matrix.os == 'ubuntu-latest'
      run: |
        sudo apt-get update -qq
        sudo apt-get install -y libboost-all-dev
    - name: set up boost for windows
      if: matrix.os == 'windows-latest' || matrix.os == 'windows-2016'
      run: |
        echo BOOST_ROOT="$env:BOOST_ROOT_1_72_0" >> $GITHUB_ENV
        echo BOOST_INCLUDEDIR="${{ env.BOOST_ROOT }}\boost\include" >> $GITHUB_ENV
        echo BOOST_LIBRARYDIR="${{ env.BOOST_ROOT }}\lib" >> $GITHUB_ENV

    - name: make build space, using cmake script mode to access environment variable in cross-platform way
      shell: cmake -P {0}
      run: |
        message("About to create directory $ENV{BUILD_DIR_PATH}")
        file(MAKE_DIRECTORY $ENV{BUILD_DIR_PATH})
    - name: cmake
      run: |
        cmake --version
        cmake -G ${{ matrix.generator }} ${{ github.workspace }}
      working-directory: ${{ env.BUILD_DIR_PATH }}
    - name: build
      run: cmake --build .
      working-directory: ${{ env.BUILD_DIR_PATH }}
    - name: test
      run: ctest --verbose -C Debug
      working-directory: ${{ env.BUILD_DIR_PATH }}
