# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: python-tests

on:
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - '*'
  schedule:
    - cron: '0 0 * * *'  # every day at midnight

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Check out ApprovalTests.cpp
      uses: actions/checkout@v2
      with:
        path: ApprovalTests/ApprovalTests.cpp

    - name: Check out claremacrae fork of conan-center-index
      uses: actions/checkout@v2
      with:
        repository: claremacrae/conan-center-index
        path: conan/conan-center-index-claremacrae

    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8

    - uses: r-lib/actions/setup-pandoc@v1
      with:
        pandoc-version: '2.9.2.1'

    - name: Install dependencies
      run: |
        cd ApprovalTests/ApprovalTests.cpp
        cd build
        ./install_python_requirements.sh

    - name: Lint with flake8
      run: |
        cd ApprovalTests/ApprovalTests.cpp
        # stop the build if there are Python syntax errors or undefined names
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics

    - name: Test build/ with pytest
      run: |
        cd ApprovalTests/ApprovalTests.cpp
        cd build
        python3 -m unittest discover -s tests --verbose

    - name: Test doc/sphinx with pytest
      run: |
        cd ApprovalTests/ApprovalTests.cpp
        cd doc/sphinx/tests
        python3 -m unittest discover -t ../.. --verbose
